<?xml version="1.0" encoding="UTF-8"?>

<launch>

<!--............................ CONFIGURABLE PARAMETERS .............................-->

<env name="GAZEBO_MODEL_PATH" value="$(find bcr_bot)/models:$(optenv GAZEBO_MODEL_PATH)"/>
<arg name="world_name"              default="$(find bcr_bot)/worlds/small_warehouse.world"/>
<arg name="gazebo_gui_enabled" 		default="true"/>

<!-- ............................... LAUNCH WORLD ................................... -->

<include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name"    value="$(arg world_name)"/>
	<arg name="paused"        value="false"/>
	<arg name="use_sim_time"  value="true"/>
	<arg name="gui"           value="$(arg gazebo_gui_enabled)"/>
	<arg name="headless"      value="true"/>
	<arg name="debug"         value="false"/>
</include>


<!-- .....................Call the launch file to spawn the robot ................... -->

<include file="$(find bcr_bot)/launch/bcr_bot_spawn.launch"/>


</launch>
