<launch>
  <arg name="set_map_frame"  default="map"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server"
      args="$(find bcr_bot)/maps/small_warehouse_edit.yaml">
    <param name="frame_id" value="$(arg set_map_frame)"/>
  </node>

  <!-- launch the navigation stacks of 3 bcr_bots-->
  <arg name="bcr_bot_0_prefix" value="bcr_bot_0"/>
  <group ns="$(arg bcr_bot_0_prefix)">"
    <node pkg="bcr_bot" type="set_goal.py" name="set_goal" output="screen"/>
    <include file="$(find bcr_bot)/launch/single_navigation.launch">
      <arg name="set_base_frame" value="$(arg bcr_bot_0_prefix)/base_footprint"/>
      <arg name="set_odom_frame" value="$(arg bcr_bot_0_prefix)/odom"/>
      <arg name="set_scan_frame" value="$(arg bcr_bot_0_prefix)/scan"/>
      <arg name="set_map_frame" value="$(arg set_map_frame)"/>
      <arg name="initial_pose_x" default="5.0"/>
      <arg name="initial_pose_y" default="1.0"/>
      <arg name="initial_pose_a" default="0.0"/>
    </include>
  </group>

  <arg name="bcr_bot_1_prefix" value="bcr_bot_1"/>
  <group ns="$(arg bcr_bot_1_prefix)">
    <node pkg="bcr_bot" type="set_goal.py" name="set_goal" output="screen"/>
    <include file="$(find bcr_bot)/launch/single_navigation.launch">
      <arg name="set_base_frame" value="$(arg bcr_bot_1_prefix)/base_footprint"/>
      <arg name="set_odom_frame" value="$(arg bcr_bot_1_prefix)/odom"/>
      <arg name="set_scan_frame" value="$(arg bcr_bot_1_prefix)/scan"/>
      <arg name="set_map_frame" value="$(arg set_map_frame)"/>
      <arg name="initial_pose_x" default="0.0"/>
      <arg name="initial_pose_y" default="-8.0"/>
      <arg name="initial_pose_a" default="0.0"/>
    </include>
  </group>

  <arg name="bcr_bot_2_prefix" value="bcr_bot_2"/>
  <group ns="$(arg bcr_bot_2_prefix)">
    <node pkg="bcr_bot" type="set_goal.py" name="set_goal" output="screen"/>
    <include file="$(find bcr_bot)/launch/single_navigation.launch">
      <arg name="set_base_frame" value="$(arg bcr_bot_2_prefix)/base_footprint"/>
      <arg name="set_odom_frame" value="$(arg bcr_bot_2_prefix)/odom"/>
      <arg name="set_scan_frame" value="$(arg bcr_bot_2_prefix)/scan"/>
      <arg name="set_map_frame" value="$(arg set_map_frame)"/>
      <arg name="initial_pose_x" default="2.5"/>
      <arg name="initial_pose_y" default="8.0"/>
      <arg name="initial_pose_a" default="0.0"/>
    </include>
  </group>

</launch>